[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-dotenv = "*"
pydantic = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
deploy = "python ./deploy.py"
